#details {
margin: 30px 0;
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 900px;
    }
    
    &--card {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
      }
      span {
        font-size: 22px;
        font-weight: 800;
        color: black;
        text-transform: capitalize;
      }
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: blue;
      }
      h3 {
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 400;
        color: red;
      }
      h4 {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
        color: green;
      }
      h5 {
        
        font-size: 18px;
        font-weight: 700;
        color: rgb(8, 20, 150);
      }
      a {
        font-size: 30px;
        font-weight: 700;
        color: black;
      }
    }
   
  }
}
